<div class="relative grid grid-nogutter w-18rem md:w-20rem h-20rem border-solid border-1 outerborder border-round-sm justify-content-center align-items-start sm:ml-5 sm:mr-5 mt-3 mb-5 pt-5">
    <div class="col-12 flex justify-content-center align-items-start">
        <div class="flex h-7rem w-7rem border-circle border-1 bordercolor border-solid justify-content-center align-items-center">
            <div class="bgcolor flex h-5rem w-5rem border-circle justify-content-center align-items-center">
                <i class="bi {{this.icon}} text-white text-2xl"></i>
            </div>
        </div>
    </div>
    <div class="col-12 flex flex-column h-13rem justify-content-start align-items-center pl-3 pr-3 text-center">
        <h3 class="mt-4 mb-2">{{this.header}}</h3>
        <p>{{this.text}}</p>
    </div>
</div>
