:host {
    .title {
        font-family: 'Open Sans', sans-serif !important;
        font-weight: 300 !important;
        font-style: normal !important;
        color: #69b9ff !important;
        font-size: 25px !important;
    }
}
